[Unit]
Description=ClamAV unofficial signatures download
Requisite=clamav.service
After=clamav.service

[Service]
Type=oneshot
ExecStart=podman exec clamav download-sigs cus -s
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N
