[Unit]
Description=ClamAV unofficial signatures download
Requisite=clamav.service
After=clamav.service

[Service]
Type=oneshot
Environment=CLAMAV_CUS_RATING=MEDIUM
EnvironmentFile=%E/state/environment
ExecStart=podman exec clamav download-sigs cus-${CLAMAV_CUS_RATING} -s
WorkingDirectory=%E/state
SyslogIdentifier=%N
