[Unit]
Description=ClamAV anti-virus

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=CLAMAV_CUSCFG_VOLUME_FLAGS=O
Environment=CLAMAV_CUS_RATING=MEDIUM
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/clamav.pid %t/clamav.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --init \
    --conmon-pidfile=%t/clamav.pid \
    --cidfile=%t/clamav.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --volume=clamav-db:/var/lib/clamav:Z \
    --volume=clamav-cus:/var/lib/clamav-unofficial-sigs:Z \
    --volume=clamav-cus-cfg:/etc/clamav-unofficial-sigs:${CLAMAV_CUSCFG_VOLUME_FLAGS} \
    --network=host \
    ${MAIL_CLAMAV_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/clamav.ctr-id -t 30
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/clamav.ctr-id
ExecReload=runagent /usr/bin/podman exec --env=CLAMAV_* %N clamdscan --reload
PIDFile=%t/clamav.pid
Type=forking
SyslogIdentifier=%u

[Install]
WantedBy=default.target
