[Unit]
Description=Timer of clamav-unofficial-sigs service

[Timer]
OnActiveSec=20 minutes
OnUnitInactiveSec=60 minutes

[Install]
WantedBy=timers.target
