[Unit]
Description=Diffie-Hellman group generator

[Service]
Type=oneshot
ExecStart=runagent generate-dhpem
ExecStartPost=-runagent install-certificate postfix
ExecStartPost=-runagent install-certificate dovecot
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N
