[Unit]
Description=Dovecot IMAP, POP3, Sieve server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/dovecot.pid %t/dovecot.ctr-id
ExecStartPre=-runagent install-certificate dovecot
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/dovecot.pid \
    --cidfile=%t/dovecot.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --network=host \
    --env=DOVECOT_* \
    --env-file=dovecot.env \
    --volume=/dev/log:/dev/log \
    --volume=dovecot-data:/var/lib/vmail:z \
    --volume=dovecot-cert:/etc/ssl/dovecot:z \
    --volume=dovecot-dict:/var/lib/dovecot/dict:z \
    --volume=dovecot-lmtp:/var/lib/umail:z \
    ${MAIL_DOVECOT_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/dovecot.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/dovecot.ctr-id
ExecReload=runagent /usr/bin/podman exec --env=DOVECOT_* %N reload-config
PIDFile=%t/dovecot.pid
Type=forking
SyslogIdentifier=%u

[Install]
WantedBy=default.target
