[Unit]
Description=Dovecot IMAP, POP3, Sieve server
Wants=get-certificate.service
After=get-certificate.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/dovecot.pid %t/dovecot.ctr-id
ExecStartPre=runagent discover-services
ExecStart=/usr/bin/podman run \
    --detach \
    --init \
    --cap-add=sys_chroot \
    --conmon-pidfile=%t/dovecot.pid \
    --cidfile=%t/dovecot.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --network=host \
    --env-file=environment \
    --env-file=discovery.env \
    --env-file=dovecot.env \
    --volume=/dev/log:/dev/log \
    --volume=dovecot-data:/var/lib/vmail \
    --volume=./tls-certs:/etc/ssl/dovecot:z \
    --volume=dovecot-dict:/var/lib/dovecot/dict:z \
    --volume=dovecot-lmtp:/var/lib/umail:z \
    --volume=dovecot-custom:/etc/dovecot/local.conf.d:z \
    ${MAIL_DOVECOT_IMAGE}

# Wait until API and monitoring endpoint services are fully started
TimeoutStartSec=180s
ExecStartPost=/usr/bin/bash -c "while ! exec 3<>/dev/tcp/127.0.0.1/9288 &>/dev/null; do sleep 1 ; done"
ExecStartPost=/usr/bin/bash -c "while ! exec 3<>/dev/tcp/127.0.0.1/9289 &>/dev/null; do sleep 1 ; done"

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/dovecot.ctr-id -t 80
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/dovecot.ctr-id
ExecReload=runagent discover-services
ExecReload=runagent /usr/bin/podman exec \
    --env-file=environment \
    --env-file=dovecot.env \
    --env-file=discovery.env \
    %N reload-config
PIDFile=%t/dovecot.pid
Type=forking
SyslogIdentifier=%N

[Install]
WantedBy=default.target
