[Unit]
Description=Freshclam signatures download
Requires=clamav.service
After=clamav.service

[Service]
Type=oneshot
ExecStart=podman exec clamav download-sigs freshclam
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N

[Install]
WantedBy=default.target
