[Unit]
Description=Postfix MTA/MSA server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/postfix.pid %t/postfix.ctr-id
ExecStartPre=/bin/mkdir -vp pcdb
ExecStartPre=-runagent install-certificate postfix
ExecStartPre=runagent discover-services
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/postfix.pid \
    --cidfile=%t/postfix.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --network=host \
    --env=POSTFIX_* \
    --env-file=discovery.env \
    --volume=./pcdb:/srv:z \
    --volume=postfix-cert:/etc/ssl/postfix:z \
    --volume=postfix-queue:/var/spool/postfix:z \
    --volume=dovecot-lmtp:/var/lib/umail:z \
    --volume=/dev/log:/dev/log \
    --volume=postfix-custom:/etc/postfix/main.cf.d:z \
    ${MAIL_POSTFIX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/postfix.ctr-id -t 60
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/postfix.ctr-id
ExecReload=runagent discover-services
ExecReload=runagent /usr/bin/podman exec --env-file=discovery.env --env=POSTFIX_* %N reload-config
PIDFile=%t/postfix.pid
Type=forking
SyslogIdentifier=%N

[Install]
WantedBy=default.target
